@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-md-4 offset-md-4">
        <el-card class="pb-3">
            <template #header>
                <h5>
                    <i class="el-icon-unlock"></i>
                    &nbsp;Giriş Yap
                </h5>
            </template>
            <el-form ref="loginForm" :model="login" label-width="120px" :rules="rules" label-position="top">
                <el-form-item label="Email Adresi" prop="email">
                    <el-input placeholder="Email Adresi" v-model="login.email"></el-input>
                </el-form-item>
                <el-form-item label="Şifre" prop="password">
                    <el-input placeholder="Şifre" v-model="login.password" show-password></el-input>
                </el-form-item>
                <el-form-item>
                    <a href="/account/forgotpassword" class="btn btn-link text-dark float-start">Şifremi Unuttum</a>
                    <el-button type="success" v-on:click="onSubmit('loginForm')" class="float-end bg-success">Giriş Yap</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </div>
</div>
@section Scripts
{
    <script src="~/js/pages/frontend/account/login.js"></script>
}