<ul id="profile" kendo-panel-bar="tree">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Hesabım</span>
        <ul>
            <li class="border-bottom"><a class="cursor-pointer" href="/account/profile">Kullanıcı Bilgileri</a></li>
            <li class="border-bottom"><a href="/account/orders">Siparişlerim</a></li>
            <li class="border-bottom"><a href="/account/address">Adreslerim</a></li>
            <li class="border-bottom"><a href="/account/change-password">Şifre Değiştir</a></li>
            <li><a href="/account/logout">Çıkış Yap</a></li>
        </ul>
    </li>

</ul>
