
@{
    ViewData["Title"] = "Adreslerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="addressController">
    <div class="row mt-3">
        <div class="col-md-3">
            @await Html.PartialAsync("_profileMenu")
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h5 ng-cloak><i class="k-icon k-i-envelop"></i> {{cardTitle}}</h5>
                        </div>
                        <div class="col-3">
                            <a ng-show="showForm" ng-cloak class="btn btn-secondary btn-sm float-end" ng-click="cancel()">< Geri</a>

                            <a ng-show="!showForm" ng-cloak ng-click="add()" class="btn btn-secondary btn-sm float-end"><i class="k-icon k-i-plus"></i> Ekle</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info mt-3" ng-show="showEmpty" ng-cloak>
                                <div class="bold">Kayıt bulunamadı.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="showGrid" ng-cloak>
                        <div class="col-md-6 mb-3" ng-repeat="item in addresses">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title pb-2 border-bottom"><i class="k-icon k-i-envelop"></i> {{item.title}}</h5>
                                    <div class="bold mt-2 mb-2 border-bottom py-2">{{item.nameSurname}}</div>
                                    <div class="mt-1 mb-1 border-bottom py-2">{{item.phone}}</div>
                                    <div class="card-text pb-3 border-bottom py-2" style="height: 100px;">{{item.address}}</div>
                                    <div class="card-text border-bottom py-2" style="height:75px;">{{item.cityName}} / {{item.districtName}} / {{item.neighborhoodName}}</div>
                                    <div class="mt-3">
                                        <button class="btn btn-secondary btn-sm float-end" ng-click="edit(item)"><i class="k-icon k-i-edit"></i></button>
                                        <button class="btn btn-danger btn-sm float-end me-2" ng-click="delete(item)"><i class="k-icon k-i-delete"></i></button>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="row" ng-show="showForm" ng-cloak>
                        <div class="col-md-12">
                            <form id="frmAddress">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label bold">Adres Başlığı</label>
                                            <input type="text" kendo-text-box ng-model="address.title" k-placeholder="'Adres Başlığı'" class="w-100" />
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label bold">Adı Soyadı</label>
                                            <input type="text" kendo-text-box ng-model="address.nameSurname" k-placeholder="'Adı Soyadı'" class="w-100" />
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label bold">Posta Kodu</label>
                                            <input type="text" kendo-text-box ng-model="address.postCode" k-placeholder="'Posta Kodu'" class="w-100" />
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label bold">Telefon No</label>
                                            <input type="text" kendo-text-box ng-model="address.phone" k-placeholder="'Telefon No'" class="w-100" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label bold">İl</label>
                                            <select kendo-drop-down-list k-option-label="'İl seçiniz'" k-data-text-field="'name'"
                                                    k-data-value-field="'id'" k-data-source="cities" k-ng-model="address.cityId" k-value-primitive="true" k-on-change="selectCity()" k-filter="'contains'" class="w-100"></select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label bold">İlçe</label>
                                            <select id="cmbDistrict" kendo-drop-down-list k-option-label="'İlçe seçiniz'" k-data-text-field="'name'"
                                                    k-data-value-field="'id'" k-data-source="districts" ng-model="address.districtId" k-on-change="selectDistrict()" k-filter="'contains'" class="w-100"></select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label bold">Mahalle/Köy</label>
                                            <select kendo-drop-down-list k-option-label="'Mahalle/Köy seçiniz'" k-data-text-field="'name'"
                                                    k-data-value-field="'id'" k-data-source="neighborhoods" k-data-value="address.neighborhoodId" ng-model="address.neighborhoodId" k-filter="'contains'" class="w-100"></select>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label bold">Adres</label>
                                            <textarea kendo-text-area ng-model="address.address" k-placeholder="'Adres'" class="w-100" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success float-end">Kaydet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
@section Scripts {
    <script>
        app.controller("addressController", function ($scope, $http) {
            $scope.addresses = [];
            $scope.cities = [];
            $scope.districts = [];
            $scope.neighborhoods = [];
            $scope.address = {
                id: 0,
                title: "",
                nameSurname: "",
                postCode: "",
                address: "",
                phone:"",
                cityId: 0,
                districtId: 0,
                neighborhoodId: 0
            }

            allHideContent();
            getAll();

            function getAll() {
                $http.get("/api/CustomerAddress")
                    .then((res) => {
                        if (res.data.length > 0) {
                            allHideContent();
                            $scope.showGrid = true;
                        } else {
                            allHideContent();
                            $scope.showEmpty = true;
                        }
                        $scope.cardTitle = "Adreslerim";
                        $scope.addresses = res.data;
                    });
            }

            function getCities() {
                $scope.cities = {
                    transport: {
                        read: {
                            url: "/api/Lookup/GetCities",
                        }
                    }
                };                
            }

            function getDistricts(cityId) {
                $scope.districts = {
                    transport: {
                        read: {
                            url: "/api/Lookup/GetDistricts/" + cityId,
                        }
                    }
                };               
            }

            function getNeighborhoods(districtId) {
                $scope.neighborhoods = {
                    transport: {
                        read: {
                            url: "/api/Lookup/GetNeighborhoods/" + districtId,
                        }
                    }
                };               
            }

            function allHideContent() {
                $scope.showForm = false;
                $scope.showGrid = false;
                $scope.showEmpty = false;
            }

            $scope.selectCity = function () {
                getDistricts($scope.address.cityId);
            }

            $scope.selectDistrict = function () {
                getNeighborhoods($scope.address.districtId);
            }

            $scope.add = function () {
                allHideContent();
                $scope.showForm = true;
                $scope.cardTitle = "Adres Ekle";
                getCities();
                $scope.address = {
                    id: 0,
                    title: "",
                    nameSurname: "",
                    postCode: "",
                    address: "",
                    phone: "",
                    cityId: 0,
                    districtId: 0,
                    neighborhoodId: 0
                }
            };

            $scope.edit = function (e) {
                allHideContent();
                $scope.showForm = true;
                $scope.cardTitle = "Adres Düzenle";
                getCities();
                getDistricts(e.cityId);
                getNeighborhoods(e.districtId);
                $scope.address = e;
            }

            $scope.cancel = function () {
                allHideContent();
                getAll();
            }

            $scope.delete = function (e) {
                if (confirm("Adresi silmek istediğinize emin misiniz?")) {
                    $http.delete("/api/CustomerAddress/" + e.id)
                        .then((res) => {
                            getAll();
                            alertShow("İşlem Başarılı", "Adres silme işlemi başarıyla gerçekleşti.");
                        });
                }
            }

            var validator = $("#frmAddress").kendoValidator().data("kendoValidator");

            $("#frmAddress").submit(function (event) {
                event.preventDefault();
                if (validator.validate()) {
                    if ($scope.address.id == 0) {
                        $http.post("/api/CustomerAddress", $scope.address)
                            .then((res) => {
                                getAll();
                                alertShow("İşlem Başarılı", "Yeni adres ekleme işlemi başarıyla gerçekleşti.");
                            });
                    } else {
                        $http.put("/api/CustomerAddress", $scope.address)
                            .then((res) => {
                                getAll();
                                alertShow("İşlem Başarılı", "Adres güncelleme işlemi başarıyla gerçekleşti.");
                            });
                    }
                }
            });
        });
    </script>
}
