
@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-md-3">
        @await Html.PartialAsync("_profileMenu")
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h5><i class="k-icon k-i-password"></i> Şifre Değiştir</h5>
            </div>
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label bold">Eski Şifre</label>
                            <input id="txtOldPassword" type="password" class="w-100" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label bold">Yeni Şifre</label>
                            <input id="txtPasword" type="password" class="w-100" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label bold">Yeni Şifre Tekrar</label>
                            <input id="txtRepassword" type="password" class="w-100" />
                        </div>

                        <button class="btn btn-success float-end">Kaydet</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $("#txtOldPassword").kendoTextBox({
            placeholder: "Email Adresi",
        });

        $("#txtPasword").kendoTextBox({
            placeholder: "Yeni Şifre",
        });

        $("#txtRepassword").kendoTextBox({
            placeholder: "Yeni Şifre Tekrar",
        });       
    </script>
}
