
@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-md-3">
        @await Html.PartialAsync("_profileMenu")
    </div>
    <div class="col-md-9" ng-controller="changePasswordController">
        <div class="card">
            <div class="card-header">
                <h5><i class="k-icon k-i-password"></i> Şifre Değiştir</h5>
            </div>
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <form id="frmChangePassword">
                            <div class="mb-3">
                                <label class="form-label bold">Eski Şifre</label>
                                <input kendo-text-box ng-model="customer.oldPassword" type="password" class="w-100" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label bold">Yeni Şifre</label>
                                <input kendo-text-box ng-model="customer.newPassword" type="password" class="w-100" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label bold">Yeni Şifre Tekrar</label>
                                <input kendo-text-box ng-model="customer.reNewPassword" type="password" class="w-100" />
                            </div>

                            <button type="submit" class="btn btn-success float-end">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        app.controller("changePasswordController", function ($scope, $http) {

            var validator = $("#frmChangePassword").kendoValidator().data("kendoValidator");

            $("#frmChangePassword").submit(function (event) {
                event.preventDefault();
                if (validator.validate()) {
                    $http.put("/api/Customer/ChangePassword", $scope.customer)
                        .then((res) => {
                            alertShow("İşlem Başarılı", "Şifre güncelleme işlemi başarıyla gerçekleşti.", "success");
                            $scope.customer = null;
                        }, (err) => {
                            alertShow("İşlem Başarısız", err.data.message, "danger");
                        });
                }
            });
        });
    </script>
}
