
<div class="card">
    <div class="card-header"><h5>Giriş Yap</h5></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Email Adresi</label>
                        <div class="col-sm-9">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Şifre</label>
                        <div class="col-sm-9">
                            <input class="form-control">
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <div class="col-sm-9 offset-sm-3">
                            <a href="/account/forgotpassword" class="btn btn-link">Şifremi Unuttum</a>
                            <button type="submit" class="btn btn-primary float-end">Giriş Yap</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
