
@{
    ViewData["Title"] = "Hesabım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3 mb-3" ng-controller="profileController">
    <div class="col-md-3">
        @await Html.PartialAsync("_profileMenu")
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h5><i class="k-icon k-i-info"></i> Kullanıcı Bilgileri</h5>
            </div>
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <form id="frmProfile">
                            <div class="mb-3">
                                <label class="form-label bold">Email Adresi</label>
                                <input kendo-text-box ng-model="customer.emailAddress" k-placeholder="'Email Adresi'" type="text" disabled class="w-100" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label bold">Adı</label>
                                <input kendo-text-box ng-model="customer.name" k-placeholder="'Adı'" type="text" class="w-100" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label bold">Soyadı</label>
                                <input kendo-text-box ng-model="customer.surname" k-placeholder="'Soyadı'" type="text" class="w-100" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label bold">Telefon No</label>
                                <input kendo-text-box ng-model="customer.phone" k-placeholder="'Telefon No'" type="text" class="w-100" />
                            </div>

                            <button type="submit" class="btn btn-success float-end">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        app.controller("profileController", function ($scope, $http) {

            $http.get("/api/Customer/GetProfile")
                .then((res) => {
                    $scope.customer = res.data;
                });

            var validator = $("#frmProfile").kendoValidator().data("kendoValidator");

            $("#frmProfile").submit(function (event) {
                event.preventDefault();
                if (validator.validate()) {
                    $http.put("/api/Customer/UpdateProfile", $scope.customer)
                        .then((res) => {
                            alertShow("İşlem Başarılı", "Kullanıcı bilgileri güncelleme işlemi başarıyla gerçekleşti.", "success");
                        }, (err) => {
                            alertShow("İşlem Başarısız", err.data.message, "danger");
                        });
                }
            });
        });
    </script>
}
