<div class="row mt-3">
    <div class="col-md-12">
        <el-card>
            <template #header>
                <h5>
                    <i class="el-icon-user"></i>
                    &nbsp;Üye Ol
                </h5>
            </template>
            <div class="row">
                <div class="col-md-6">
                    <el-form ref="registerForm" :model="customer" :rules="rules" label-position="top">
                        <el-form-item label="Adı" prop="name">
                            <el-input placeholder="Adı" v-model="customer.name"></el-input>
                        </el-form-item>

                        <el-form-item label="Soyadı" prop="surname">
                            <el-input placeholder="Soyadı" v-model="customer.surname"></el-input>
                        </el-form-item>

                        <el-form-item label="Email Adresi" prop="email">
                            <el-input placeholder="Email Adresi" v-model="customer.email"></el-input>
                        </el-form-item>                      

                        <el-form-item label="Şifre" prop="password">
                            <el-input placeholder="Şifre" v-model="customer.password" show-password></el-input>
                        </el-form-item>

                        <el-form-item label="Şifre Tekrar" prop="rePassword">
                            <el-input placeholder="Şifre Tekrar" v-model="customer.rePassword" show-password></el-input>
                        </el-form-item>

                        <el-form-item label="Telefon" prop="phone">
                            <el-input placeholder="Telefon" v-model="customer.phone"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="success" v-on:click="onSubmit('registerForm')" class="bg-success">Kaydet</el-button>
                        </el-form-item>
                    </el-form>

                </div>
            </div>
        </el-card>
    </div>
</div>

@section Scripts
{
    <script src="~/js/pages/frontend/account/register.js"></script>
}
