<div class="row mt-3">
    <div class="col-md-12">
        <div class="card border-success mb-5">
            <div class="card-header bg-success"><h5 class="text-white py-2">Üye Ol</h5></div>
            <div class="card-body">
                <form class="p-3" id="frmRegister">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Email Adresi</label>
                                <div class="col-sm-9">
                                    <input type="email" name="emailAddress" class="w-100" required data-required-msg="Email adresi zorunludur" id="txtEmailAddress" data-email-msg="Email formatı geçersiz">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Adı</label>
                                <div class="col-sm-9">
                                    <input name="name" class="w-100" required validationMessage="Adı zorunludur" id="txtName">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Soyadı</label>
                                <div class="col-sm-9">
                                    <input name="surname" class="w-100" required validationMessage="Soyadı zorunludur" id="txtSurname">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Şifre</label>
                                <div class="col-sm-9">
                                    <input name="password" type="password" class="w-100" required validationMessage="Şifre zorunludur" id="txtPassword">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Şifre Tekrar</label>
                                <div class="col-sm-9">
                                    <input name="rePassword" type="password" class="w-100" required validationMessage="Şifre Tekrarı zorunludur" id="txtRePassword">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Telefon No</label>
                                <div class="col-sm-9">
                                    <input name="phone" type="text" class="w-100" id="txtPhone">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-sm-9 offset-sm-3">
                                    <button type="submit" class="btn btn-success float-end">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#txtEmailAddress").kendoTextBox({
            placeholder: "Email Adresi",
        });

        $("#txtName").kendoTextBox({
            placeholder: "Adı",
        });

        $("#txtSurname").kendoTextBox({
            placeholder: "Soyadı",
        });

        $("#txtPassword").kendoTextBox({
            placeholder: "Şifre",
        });

        $("#txtRePassword").kendoTextBox({
            placeholder: "Şifre Tekrar",
        });

        $("#txtPhone").kendoTextBox({
            placeholder: "Telefon No",
        });

        var validator = $("#frmRegister").kendoValidator().data("kendoValidator");

        $("#frmRegister").submit(function (event) {
            event.preventDefault();
            if (validator.validate()) {
                var data = {
                    name: $("#txtName").data("kendoTextBox").value(),
                    surname: $("#txtSurname").data("kendoTextBox").value(),
                    password: $("#txtPassword").data("kendoTextBox").value(),
                    rePassword: $("#txtRePassword").data("kendoTextBox").value(),
                    email: $("#txtEmailAddress").data("kendoTextBox").value(),
                    phone: $("#txtPhone").data("kendoTextBox").value()
                };
                $.ajax({
                    url: "/api/customer/register",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    complete: function (res) {
                        var result = res.responseJSON;
                        if (result.statusCode == 200) {
                            alertShow("İşlem Başarılı", "Kullanıcı başarıyla kaydedildi.");

                        } else {
                            alertShow("İşlem Başarısız", result.message);
                        }
                    }
                });
            }
        });

    </script>
}
