@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow">
    <div class="card-header py-3 bg-white">
        <div class="row">
            <div class="col-6">
                <h5>Kullanıcılar</h5>
            </div>
            <div class="col-6">
                <a id="btnAdd" class="btn btn-outline-dark btn-sm float-end">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <script id="isActive-template" type="text/x-kendo-template">
            <div>#: isActive ? 'Evet': 'Hayır' #</div>
        </script>
        <script id="isEmailConfirmed-template" type="text/x-kendo-template">
            <div>#: emailConfirmed ? 'Evet': 'Hayır' #</div>
        </script>
        <div id="grid"></div>
    </div>
</div>

<div class="modal fade" id="userModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="userForm">
                    <div class="mb-3">
                        <label class="form-label">Adı</label>
                        <input type="text"
                               id="txtName"
                               name="txtName"
                               class="w-100"
                               required
                               data-required-msg="Adı giriniz." />
                        <span class="k-invalid-msg" data-for="txtName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Soyadı</label>
                        <input type="text"
                               id="txtSurname"
                               name="txtSurname"
                               class="w-100"
                               required
                               data-required-msg="Soyadı giriniz." />
                        <span class="k-invalid-msg" data-for="txtSurname"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Adresi</label>
                        <input type="email"
                               id="txtEmailAddress"
                               name="txtEmailAddress"
                               class="w-100"
                               required
                               data-required-msg="Email adresi giriniz."
                               data-email-msg="Email formatı uygun değil." />
                        <span class="k-invalid-msg" data-for="txtEmailAddress"></span>
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="form-label">Telefon</label>
                        <input type="text"
                               id="txtPhone"
                               name="txtPhone"
                               class="w-100" />
                        <span class="k-invalid-msg" data-for="txtPhone"></span>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" id="chckIsActive" class="k-checkbox" checked="checked">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        data-bs-dismiss="modal"
                        class="btn btn-secondary float-end">
                    Kapat
                </button>
                <button id="btnSave"
                        type="submit"
                        class="btn btn-primary float-end">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="application/javascript" src="~/js/pages/admin/user.js"></script>
}


