
@{
    ViewData["Title"] = "Ürün Kategorileri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<el-breadcrumb class="mb-3" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item>
        <a class="text-decoration-none text-secondary" href="/admin/home">Anasayfa</a>
    </el-breadcrumb-item>
    <el-breadcrumb-item>Ürün Kategorileri</el-breadcrumb-item>
</el-breadcrumb>

<el-card class="box-card">
    <template #header>
        <div>
            <span class="fw-bold">{{title}}</span>
            <el-button class="float-end mb-2 bg-primary text-white" v-if="showGrid" v-on:click="addProductCategory()" icon="el-icon-plus" size="small">Ekle</el-button>
        </div>
    </template>
    <div class="row">
        <div class="col-md-6">
            <div v-if="showGrid">
                <el-input placeholder="Ürün Kategorilerinde Ara" v-model="filterText"> </el-input>

                <el-tree class="mt-3"
                         :data="productCategories"
                         :props="defaultProps"
                         default-expand-all
                         :filter-node-method="filterNode"
                         ref="tree">
                    <template #default="{ node, data }">
                        <div class="m-2">
                            <el-row class="float-end me-3">
                                <el-button v-on:click="editProductCategory(data)" type="info" circle size="small" icon="el-icon-edit-outline" class="bg-secondary"></el-button>
                                <el-button v-on:click="deleteProductCategory(data)" type="danger" circle size="small" icon="el-icon-delete" class="bg-danger"></el-button>
                                <div class="ms-3"> {{ node.label }}</div>
                            </el-row>
                        </div>
                    </template>
                </el-tree>
            </div>
            <div class="col-md-12" v-if="showForm">
                <el-form ref="productCategoryForm" :model="productCategory" label-position="top" :rules="rules">                   
                    <el-form-item label="Bağlı Menü">
                        <el-row>
                            <el-input v-model="selectedParentName" disabled></el-input>
                            <el-button class="bg-primary">Değiştir</el-button>
                        </el-row>

                        <el-cascader v-model="selectedParents"
                                     v-if="showParentCategory"
                                     :options="productCategories"
                                     :props="props"
                                     class="w-100"
                                     placeholder="Bağlı menü seçiniz."
                                     clearable>
                            <template #default="{ node, data }">
                                <span>{{ data.name }}</span>
                            </template>
                        </el-cascader>
                    </el-form-item>
                    <el-form-item label="Adı" prop="name">
                        <el-input v-model="productCategory.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Url" prop="url">
                        <el-input v-model="productCategory.url"></el-input>
                    </el-form-item>
                    <el-form-item class="float-end">
                        <el-button v-on:click="reset()" type="info" class="bg-secondary">Vazgeç</el-button>
                        <el-button v-on:click="onSubmit('productCategoryForm')" type="primary" class="bg-primary">Kaydet</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</el-card>

@section Scripts{
    <script type="application/javascript" src="~/js/pages/admin/product-category.js"></script>
}
