
@{
    ViewData["Title"] = "Ürün Kategorileri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none text-secondary" href="/admin/home">Anasayfa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ürün Kategorileri</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6"><h5 class="card-title mb-3">Ürün Kategorileri</h5></div>
            <div class="col-6"><a v-on:click="add()" class="btn btn-primary btn-sm float-end"><i class="el-icon-plus"></i>Ekle</a></div>
        </div>

        <div class="border-top p-3">
            <div class="border-bottom pb-2">
                <a class="btn btn-secondary text-white btn-sm" v-on:click="edit(dataItem)">
                    <i class="el-icon-edit"></i>
                </a>
                <a class="btn btn-danger text-white btn-sm" v-on:click="delete(dataItem)">
                    <i class="el-icon-delete"></i>
                </a>
                {{dataItem.name}}
            </div>
        </div>


        <form id="frmCategory">
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Bağlı Kategori</label>
                    <input class="w-100" v-model="productCategory.parentId" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Kategori Adı</label>
                    <input v-model="productCategory.name" class="w-100" />
                </div>

                <div class="mb-3">
                    <label class="form-label">URL</label>
                    <input v-model="productCategory.url" class="w-100" />
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary">Kapat</button>
                <button type="submit" class="btn btn-primary"><i class="k-icon k-i-save"></i> Kaydet</button>
            </div>
        </form>

    </div>
</div>

@section Scripts{
    <script src="~/js/pages/admin/product-category.js"></script>
}
