.bold {
    font-weight: 500 !important;
}

.el-tree-node {
    padding: 5px;
}

.el-form--label-top .el-form-item__label {
    padding: 0px !important;
}

.el-collapse {
    border-radius: 4px !important;
}

.box-card {
    min-height: 300px;
}
