@using Microsoft.AspNetCore.Http;
@using ShopApp.Model.Enum

<div class="navbar navbar-expand-md navbar-light bg-white border-bottom fixed-top shadow" id="navbar">
    <div class="container">
        <a href="/" class="navbar-brand text-dark">Shop App</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" v-on:click="leftMenuShow()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">

                </li>
            </ul>

            @if (Context.Session.GetInt32("UserId") != null)
            {
                <ul id="userMenu" class="bg-white py-0 d-none">
                    <li class="text-dark">
                        @Context.Session.GetString("UserName")
                        <ul>
                            @if (Context.Session.GetInt32("Userype") != (int)UserType.Customer)
                            {
                                <li>
                                    <a class="text-decoration-none text-dark" href="/admin/home">Yönetim Paneli</a>
                                </li>
                            }
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/profile">Hesabım</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/orders">Siparişlerim</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/logout">Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul id="loginMenu" class="bg-white py-0 d-none">
                    <li class="text-dark">
                        Giriş Yap
                        <ul>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/login">Giriş Yap</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/register">Üye Ol</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>