@using Microsoft.AspNetCore.Http;

<div class="navbar navbar-expand-md navbar-light bg-white border-bottom fixed-top" id="navbar">
    <div class="container">
        <a href="/" class="navbar-brand text-dark">Shop App</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" v-on:click="leftMenuShow()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">

                </li>
            </ul>

            @if (Context.Session.GetInt32("CustomerId") != null)
            {
                <ul id="customerMenu" class="bg-white py-0">
                    <li class="text-dark">
                        @Context.Session.GetString("CustomerName")
                        <ul>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/profile">Hesabım</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/orders">Siparişlerim</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/logout">Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                </ul>               
            }
            else
            {
                <ul id="loginMenu" class="bg-white py-0">
                    <li class="text-dark">
                        Giriş Yap
                        <ul>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/login">Giriş Yap</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark" href="/admin/login">Yönetici Girişi</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark" href="/account/register">Üye Ol</a>
                            </li>
                        </ul>
                    </li>
                </ul>              
            }
        </div>
    </div>
    @* <el-drawer v-model="leftMenuDrawer"
        title="Menü"
        direction="ltr"
        size="95%">
        <div class="p-3 border-top">

        @if (Context.Session.GetInt32("CustomerId") != null)
        {
        <p>
        <el-link href="/account/profile">Hesabım</el-link>
        </p>
        <p>
        <el-link href="/account/orders">Siparişlerim</el-link>
        </p>
        <p>
        <el-link href="/account/logout">Çıkış Yap</el-link>
        </p>
        }
        else
        {
        <p>
        <el-link href="/account/login">Giriş Yap</el-link>
        </p>
        <p>
        <el-link href="/admin/login">Yönetici Girişi</el-link>
        </p>
        <p>
        <el-link href="/account/register">Üye Ol</el-link>
        </p>
        }
        </div>
        </el-drawer>*@

</div>