<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    @RenderSection("Css", false)
    <link rel="stylesheet" href="~/css/style.css">
    <title>Shop App</title>
</head>
<body>
    @await Html.PartialAsync("_navbar")

    <main class="mt-5 mb-3">
        <div class="container mt-3 py-3">
            @RenderBody()
        </div>
    </main>

    <footer class="navbar bg-light fixed-bottom border-top">
        <div class="container">
            Shop App @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/js/lib/jquery-3.6.0.min.js"></script>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/js/lib/kendo.all.min.js"></script>
    <script src="~/js/lib/kendo.culture.tr-TR.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>