@using Microsoft.AspNetCore.Http;

<div class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-md-0" ng-controller="navbarController">
    <div class="container" ng-cloak>
        <a href="/" class="navbar-brand text-dark">Shop App</a>
        <button class="navbar-toggler border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <ul class="text-dark"
                        kendo-menu
                        k-orientation="'horizontal'"
                        k-rebind="'horizontal'">
                        <li class="pe-3">
                            Ürün Kategorileri
                            <ul>
                                <li>
                                    <a href="/product/phone">Telefon</a>
                                </li>
                                <li>
                                    Bilgisayar
                                </li>
                                <li>
                                    Beyaz Eşya
                                </li>
                                <li>
                                    Küçük Ev Aletleri
                                </li>
                            </ul>
                        </li>
                        <li class="pe-3">
                            <a href="/blog">Blog</a>
                        </li>
                        <li class="pe-3">
                            <a href="/contact">İletişim</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="d-flex">
                @if (Context.Session.GetInt32("CustomerId") != null)
                {
                    <ul kendo-menu
                        k-orientation="'horizontal'"
                        k-rebind="'horizontal'">
                        <li class="pe-3">
                            @Context.Session.GetString("CustomerName")
                            <ul>
                                <li><a class="dropdown-item" href="/account/profile">Hesabım</a></li>
                                <li>
                                    <a href="/account/orders" class="dropdown-item">Siparişlerim</a>
                                </li>
                                <li><a class="dropdown-item" href="/account/logout">Çıkış Yap</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="btn btn-sm" href="/cart">
                                <i class="k-icon k-i-cart k-i-shopping-cart"></i>
                                <span class="pb-1">0</span>
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul kendo-menu
                        k-orientation="'horizontal'"
                        k-rebind="'horizontal'">
                        <li>
                            <i class="k-icon k-i-user"></i>
                            <ul>
                                <li>
                                    <a href="/account/login" class="nav-link text-dark">Giriş Yap</a>
                                </li>
                                <li>
                                    <a href="/admin/login" class="nav-link text-dark">Yönetici Girişi</a>
                                </li>
                                <li>
                                    <a href="/account/register" class="nav-link text-dark">Üye Ol</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

