<div class="navbar bg-light navbar-expand-sm border-bottom text-secondary fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand text-dark">Shop App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/products" class="nav-link text-secondary">Ürünler</a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="/cart" class="nav-link">Sepetim</a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link">Siparişler</a>
                </li>

            }
        </ul>

        <div class="d-flex">
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEnd" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownEnd">
                            @if (User.IsInRole("admin"))
                            {
                            <li><a class="dropdown-item" href="/admin/home">Yönetim Paneli</a></li>
                            }
                            <li><a class="dropdown-item" href="/account/profile">Hesabım</a></li>
                            <li><a class="dropdown-item" href="/account/logout">Çıkış Yap</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="/account/login" class="nav-link text-dark">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/register" class="nav-link text-dark">Üye Ol</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>