@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/kendo.bootstrap-main.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Shop App - Admin Paneli</title>
</head>
<body>
    <div class="container">
        <span id="notification" class="d-none"></span>
        <div class="row mt-5">
            <div class="col-md-4 offset-md-4">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-9">
                                <div class="h4 text-white py-2">
                                    <i class="k-icon k-i-user k-icon-md"></i>
                                    Admin Paneline Giriş
                                </div>
                            </div>
                            <div class="col-3">
                                <a class="text-white float-end text-decoration-none pt-2" href="/">
                                    <i class="k-icon k-i-home k-icon-md"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="loginForm">
                            <script id="errorTemplate" type="text/x-kendo-template">
                                <div class="wrong-pass">
                                    <h5>
                                       <i class="k-icon k-i-warning k-icon-md"></i>
                                       #= title #
                                    </h5>
                                    <p>#= message #</p>
                                </div>
                            </script>
                            <script id="successTemplate" type="text/x-kendo-template">
                                <div class="upload-success">
                                    <h5>
                                        <i class="k-icon k-i-success k-icon-md"></i>
                                         #= title #
                                    </h5>
                                    <p>#= message #</p>
                                </div>
                            </script>

                            <div class="mb-3">
                                <label class="form-label">Email Adresi</label>
                                <input type="email" id="txtEmailAddress" name="txtEmailAddress" class="w-100" required data-required-msg="Email adresi giriniz." data-email-msg="Email formatı uygun değil." />
                                <span class="k-invalid-msg" data-for="txtEmailAddress"></span>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Şifre</label>
                                <input type="password" id="txtPassword" class="w-100" required data-required-msg="Şifre giriniz." />
                                <span class="k-invalid-msg" data-for="txtPassword"></span>
                            </div>

                            <div class="mb-3">
                                <a href="/account/forgotpassword" class="btn btn-link text-dark float-start">Şifremi Unuttum</a>
                                <button id="btnLogin" class="btn btn-primary float-end" type="submit">Giriş Yap</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/lib/jquery-3.6.0.min.js"></script>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/js/lib/kendo.all.min.js"></script>
    <script src="~/js/lib/axios.min.js"></script>
    <script src="~/js/pages/admin/login.js"></script>
</body>
</html>

