@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Paneli - @ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-md-0">
        <div class="container-fluid" ng-cloak>
            <a class="navbar-brand" href="/admin/home">Admin Paneli</a>
            <button class="navbar-toggler border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <ul class="text-dark"
                            kendo-menu
                            k-orientation="'horizontal'"
                            k-rebind="'horizontal'">
                            <li class="pe-3">
                                İçerik Yönetimi
                                <ul>
                                    <li>
                                        <a href="/admin/product-category">
                                            Ürün Kategorileri
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/product">
                                            Ürünler
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="pe-3">
                                Ayarlar
                                <ul>
                                    <li>
                                        <a href="/admin/role">
                                            Roller
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/user">
                                            Kullanıcılar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="d-flex">
                    <ul class="text-dark"
                        kendo-menu
                        k-orientation="'horizontal'"
                        k-rebind="'horizontal'">
                        <li class="pe-3">
                            <span>@Context.Session.GetString("UserName")</span>
                            <ul>
                                <li>
                                    <a href="/">
                                        Siteye Git
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/logout">
                                        Çıkış Yap
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
        @RenderBody()
    </div>

    <script src="~/js/lib/jquery-3.6.0.min.js"></script>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/js/lib/angular.min.js"></script>
    <script src="~/js/lib/kendo.all.min.js"></script>
    <script src="~/js/lib/kendo.culture.tr-TR.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
