@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow">
    <div class="card-body" style="height: 200px;">
        <h5>Anasayfa</h5>

    </div>
</div>


