<div id="profileMenu" class="pt-0 mb-3">
    <ul class="list-group list-group-flush border-top">
        <li class="list-group-item">
            <a class="text-decoration-none text-dark" href="/account/profile">Kullanıcı Bilgileri</a>
        </li>
        <li class="list-group-item">
            <a class="text-decoration-none text-dark" href="/account/orders">Siparişlerim</a>
        </li>
        <li class="list-group-item">
            <a class="text-decoration-none text-dark" href="/account/address">Adreslerim</a>
        </li>
        <li class="list-group-item">
            <a class="text-decoration-none text-dark" href="/account/change-password">Şifre Değiştir</a>
        </li>
        <li class="list-group-item">
            <a class="text-decoration-none text-dark" href="/account/logout">Çıkış Yap</a>
        </li>
    </ul>
</div>
