@{
    ViewData["Title"] = "Adreslerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_ProfileMenu")
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="h4 card-header py-3 bg-white">
                <div class="row">
                    <div class="col-8">
                        <i class="k-icon k-i-marker-pin k-icon-md"></i> Adreslerim
                    </div>
                    <div class="col-4">
                        <a id="btnAddAddress" class="btn btn-outline-dark btn-sm float-end">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="d-none" id="noData">
                        <div class="row">
                            <div class="col-md-12">
                                <div>Kayıt bulunamadı.</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="grid">
                        <div class="row" id="gridAddress">
                            <script type="text/x-kendo-template" id="template">
                                <div class="col-md-6 my-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="py-2"> #:title#</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row border-bottom py-3">
                                                <div class="col-4 bold">Adı Soyadı </div>
                                                <div class="col-8">#:nameSurname#</div>
                                            </div>
                                            <div class="row border-bottom py-3">
                                                <div class="col-4 bold">Telefon No </div>
                                                <div class="col-8">#:phone#</div>
                                            </div>
                                            <div class="row border-bottom py-3">
                                                <div class="col-4 bold">Adres</div>
                                                <div class="col-8">#:address#</div>
                                            </div>
                                            <div class="row border-bottom py-3">
                                                <div class="col-4 bold">İl / İlçe / Mahalle</div>
                                                <div class="col-8">#:cityName# / #:districtName# / #:neighborhoodName#</div>
                                            </div>
                                            <div class="row pt-3 pb-2">
                                                <div class="col-12">
                                                    <button class="btn btn-secondary btn-sm float-end  btnEditAddress" data-id="#=id#"><i class="k-icon k-i-edit"></i></button>
                                                    <button class="btn btn-danger btn-sm float-end me-2 btnDeleteAddress" data-id="#=id#"><i class="k-icon k-i-delete"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addressModal" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    <form id="addressForm">
                        <div class="mb-3">
                            <label class="form-label">Adres Başlığı</label>
                            <input type="text"
                                   id="txtTitle"
                                   name="txtTitle"
                                   class="w-100"
                                   required
                                   data-required-msg="Adres başlığı giriniz." />
                            <span class="k-invalid-msg" data-for="txtTitle"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Adı Soyadı</label>
                            <input type="text"
                                   id="txtNameSurname"
                                   name="txtNameSurname"
                                   class="w-100"
                                   required
                                   data-required-msg="Adı soyadı giriniz." />
                            <span class="k-invalid-msg" data-for="txtNameSurname"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Telefon</label>
                            <input type="text"
                                   id="txtPhone"
                                   name="txtPhone"
                                   class="w-100"
                                   required
                                   data-required-msg="Telefon giriniz." />
                            <span class="k-invalid-msg" data-for="txtPhone"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">İl</label>
                            <input id="cmbCity"
                                   class="w-100"
                                   name="cmbCity"
                                   required
                                   data-required-msg="İl seçiniz." />
                            <span class="k-invalid-msg" data-for="cmbCity"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">İlçe</label>
                            <input id="cmbDistrict"
                                   class="w-100"
                                   name="cmbDistrict"
                                   required
                                   data-required-msg="İlçe seçiniz." />
                            <span class="k-invalid-msg" data-for="cmbDistrict"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mahalle/Köy</label>
                            <input id="cmbNeighborhood"
                                   class="w-100"
                                   name="cmbNeighborhood"
                                   required
                                   data-required-msg="Mahalle/Köy seçiniz." />
                            <span class="k-invalid-msg" data-for="cmbNeighborhood"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Posta Kodu</label>
                            <input type="text"
                                   id="txtPostCode"
                                   name="txtPostCode"
                                   class="w-100" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Adres</label>
                            <textarea id="txtAddress"
                                      class="w-100"
                                      required
                                      data-required-msg="Adres giriniz."
                                      data-max-msg="En fazla 500 karakter giriniz."></textarea>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            data-bs-dismiss="modal"
                            class="btn btn-secondary float-end">
                        Kapat
                    </button>
                    <button id="btnSave"
                            type="submit"
                            class="btn btn-primary float-end">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/frontend/account/address.js"></script>
}
