@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_ProfileMenu")
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="h4 card-header py-3 bg-white">
                <i class="k-icon k-i-password k-icon-md"></i> Şifre Değiştir
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="changePasswordForm">
                                <div class="mb-3 mt-3">
                                    <label class="form-label">Eski Şifre</label>
                                    <input type="password"
                                           id="txtOldPassword"
                                           name="txtOldPassword"
                                           class="w-100"
                                           required
                                           data-required-msg="Eski şifre giriniz." />
                                    <span class="k-invalid-msg" data-for="txtOldPassword"></span>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label class="form-label">Yeni Şifre</label>
                                    <input type="password"
                                           id="txtNewPassword"
                                           name="txtNewPassword"
                                           class="w-100"
                                           required
                                           data-required-msg="Yeni Şifre giriniz." />
                                    <span class="k-invalid-msg" data-for="txtNewPassword"></span>
                                </div>

                                <div class="mb-3 mt-3">
                                    <label class="form-label">Yeni Şifre Yeniden</label>
                                    <input type="password"
                                           id="txtReNewPassword"
                                           name="txtReNewPassword"
                                           class="w-100"
                                           required
                                           data-required-msg="Yeni Şifre Yeniden giriniz." />
                                    <span class="k-invalid-msg" data-for="txtReNewPassword"></span>
                                </div>

                                <div class="mb-3">
                                    <button id="btnChangePassword"
                                            type="submit"
                                            class="btn btn-primary float-start">
                                        Kaydet
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/pages/frontend/account/change-password.js"></script>
}
