.bold {
    font-weight: 500 !important;
}

.k-expander-title {
    color: unset !important;
    text-transform: unset !important;
    font-size: 20px !important;
}

.k-menu:not(.k-context-menu) > .k-item {
    color: black !important;
}

.k-icon {
    bottom: 2px !important;
}
